# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

bin

# Ignore working directory and debug output
output
.craftgame
log

.idea
.settings
